


<div *ngIf="selectionMaterials.length > 0">
    <div>
        Bulk Factory Selection:
    </div>

    <div class="d-flex flex-wrap">
        <div ngbDropdown *ngFor="let material of selectionMaterials" class="p-1">
                
            <button type="button" class="btn btn-outline-primary" id="selectionDropdown"
                ngbDropdownToggle>{{material}}</button>
            <div ngbDropdownMenu aria-labelledby="selectionDropdown" class="material-drop-down">
                <button ngbDropdownItem *ngFor="let factory of getFactories(material)"
                    (click)="selectFactory(factory)">{{factory.name}}</button>
            </div>
        </div>
    </div>
</div>
