<div>

    <div ngbDropdown (openChange)="onOpenChange()">
        <button type="button" class="btn btn-outline-primary d-flex align-items-center" id="selectionDropdown"
            ngbDropdownToggle>
            <i *ngIf="selectedMaterial != null" class="material-icon" [ngClass]="selectedMaterial | iconClass"></i> 
            {{buttonText | formatName}}</button>
        <div ngbDropdownMenu aria-labelledby="selectionDropdown" class="material-drop-down">

            <div *ngIf="materials.length > 5" class="m-2">
                <input type="text" class="form-control" [(ngModel)]="filterText" placeholder="Search...">
            </div>

            <div>
                <button ngbDropdownItem *ngFor="let material of filteredMaterials" class="d-flex align-items-center"
                    (click)="selectMaterial(material)"><i class="material-icon" [ngClass]="material | iconClass"></i> {{material  | formatName}}</button>
            </div>

        </div>
    </div>

</div>