

.adamantine {
    content: url('icons/adamantine.png');
}

.advancedFilteringMesh {
    content: url('icons/advancedFilteringMesh.png');
}

.aiControlUnit {
    content: url('icons/aiControlUnit.png');
}

.aluminium {
    content: url('icons/aluminium.png');
}

.basicFarm {
    content: url('icons/basicFarm.png');
}

.car {
    content: url('icons/car.png');
}

.carbon {
    content: url('icons/carbon.png');
}

.chemicals {
    content: url('icons/chemicals.png');
}

.chemicals_NO {
    content: url('icons/chemicals_NO.png');
}

.citizenMovingIn {
    content: url('icons/citizenMovingIn.png');
}

.citizenMovingOut {
    content: url('icons/citizenMovingOut.png');
}

.computer {
    content: url('icons/computer.png');
}

.concrete {
    content: url('icons/concrete.png');
}

.copperBar {
    content: url('icons/copperBar.png');
}

.copperBar_NO {
    content: url('icons/copperBar_NO.png');
}

.copperOre {
    content: url('icons/copperOre.png');
}

.crudeOil {
    content: url('icons/crudeOil.png');
}

.crudeOil_NO {
    content: url('icons/crudeOil_NO.png');
}

.culturePoints {
    content: url('icons/culturePoints.png');
}

.debug {
    content: url('icons/debug.png');
}

.dielectricMaterial {
    content: url('icons/dielectricMaterial.png');
}

.distilledWater {
    content: url('icons/distilledWater.png');
}

.distilledWater_NO {
    content: url('icons/distilledWater_NO.png');
}

.electronics {
    content: url('icons/electronics.png');
}

.enrichedUranium {
    content: url('icons/enrichedUranium.png');
}

.enrichedUranium_NO {
    content: url('icons/enrichedUranium_NO.png');
}

.fertilizer {
    content: url('icons/fertilizer.png');
}

.filteringMesh {
    content: url('icons/filteringMesh.png');
}

.ftlPortal {
    content: url('icons/ftlPortal.png');
}

.goodFood {
    content: url('icons/goodFood.png');
}

.habitant {
    content: url('icons/habitant.png');
}

.heatExchanger {
    content: url('icons/heatExchanger.png');
}

.highTechTool {
    content: url('icons/highTechTool.png');
}

.holoDisplay {
    content: url('icons/holoDisplay.png');
}

.homeAppliance {
    content: url('icons/homeAppliance.png');
}

.homeRobot {
    content: url('icons/homeRobot.png');
}

.industrialChemicals {
    content: url('icons/industrialChemicals.png');
}

.industrialChemicals_NO {
    content: url('icons/industrialChemicals_NO.png');
}

.industrialRobot {
    content: url('icons/industrialRobot.png');
}

.iridium {
    content: url('icons/iridium.png');
}

.iridiumAlloy {
    content: url('icons/iridiumAlloy.png');
}

.iridiumCapacitor {
    content: url('icons/iridiumCapacitor.png');
}

.iridiumPropellant {
    content: url('icons/iridiumPropellant.png');
}

.ironOre {
    content: url('icons/ironOre.png');
}

.meat {
    content: url('icons/meat.png');
}

.methane {
    content: url('icons/methane.png');
}

.microchip {
    content: url('icons/microchip.png');
}

.motor {
    content: url('icons/motor.png');
}

.nanoTubes {
    content: url('icons/nanoTubes.png');
}

.neuralProcessor {
    content: url('icons/neuralProcessor.png');
}

.organicWaste {
    content: url('icons/organicWaste.png');
}

.oxygen {
    content: url('icons/oxygen.png');
}

.parkPoints {
    content: url('icons/parkPoints.png');
}

.plastic {
    content: url('icons/plastic.png');
}

.plastic_NO {
    content: url('icons/plastic_NO.png');
}

.power {
    content: url('icons/power.png');
}

.radiationCore {
    content: url('icons/radiationCore.png');
}

.reinforcedIridium {
    content: url('icons/reinforcedIridium.png');
}

.research {
    content: url('icons/research.png');
}

.sand {
    content: url('icons/sand.png');
}

.schoolPoints {
    content: url('icons/schoolPoints.png');
}

.sciencePack1 {
    content: url('icons/sciencePack1.png');
}

.sciencePack1Factory {
    content: url('icons/sciencePack1Factory.png');
}

.sciencePack2 {
    content: url('icons/sciencePack2.png');
}

.sciencePack2Factory {
    content: url('icons/sciencePack2Factory.png');
}

.sciencePack3 {
    content: url('icons/sciencePack3.png');
}

.sciencePack3Factory {
    content: url('icons/sciencePack3Factory.png');
}

.sciencePack4 {
    content: url('icons/sciencePack4.png');
}

.sciencePack4Factory {
    content: url('icons/sciencePack4Factory.png');
}

.sensor {
    content: url('icons/sensor.png');
}

.sensor_NO {
    content: url('icons/sensor_NO.png');
}

.spaceShip {
    content: url('icons/spaceShip.png');
}

.spaceshipModule {
    content: url('icons/spaceshipModule.png');
}

.steel {
    content: url('icons/steel.png');
}

.stemCell {
    content: url('icons/stemCell.png');
}

.stemCell_NO {
    content: url('icons/stemCell_NO.png');
}

.storehouse {
    content: url('icons/storehouse.png');
}

.sulfur {
    content: url('icons/sulfur.png');
}

.superconductingCoil {
    content: url('icons/superconductingCoil.png');
}

.superconductor {
    content: url('icons/superconductor.png');
}

.survivalFood {
    content: url('icons/survivalFood.png');
}

.terraform {
    content: url('icons/terraform.png');
}

.uranium {
    content: url('icons/uranium.png');
}

.vegetables {
    content: url('icons/vegetables.png');
}

.vrEdutainment {
    content: url('icons/vrEdutainment.png');
}

.water {
    content: url('icons/water.png');
}
