
.adamantine {
    content: url('icons/adamantine.png');
}

.aiControlUnit {
    content: url('icons/aiControlUnit.png');
}

.aluminium {
    content: url('icons/aluminium.png');
}

.basicFarm {
    content: url('icons/basicFarm.png');
}

.car {
    content: url('icons/car.png');
}

.carbon {
    content: url('icons/carbon.png');
}

.citizenMovingIn {
    content: url('icons/citizenMovingIn.png');
}

.citizenMovingOut {
    content: url('icons/citizenMovingOut.png');
}

.computer {
    content: url('icons/computer.png');
}

.concrete {
    content: url('icons/concrete.png');
}

.copperOre {
    content: url('icons/copperOre.png');
}

.culturePoints {
    content: url('icons/culturePoints.png');
}

.debug {
    content: url('icons/debug.png');
}

.electronics {
    content: url('icons/electronics.png');
}

.fertilizer {
    content: url('icons/fertilizer.png');
}

.ftlPortal {
    content: url('icons/ftlPortal.png');
}

.goodFood {
    content: url('icons/goodFood.png');
}

.habitant {
    content: url('icons/habitant.png');
}

.highTechTool {
    content: url('icons/highTechTool.png');
}

.holoDisplay {
    content: url('icons/holoDisplay.png');
}

.homeAppliance {
    content: url('icons/homeAppliance.png');
}

.homeRobot {
    content: url('icons/homeRobot.png');
}

.industrialRobot {
    content: url('icons/industrialRobot.png');
}

.iridium {
    content: url('icons/iridium.png');
}

.iridiumAlloy {
    content: url('icons/iridiumAlloy.png');
}

.iridiumPropellant {
    content: url('icons/iridiumPropellant.png');
}

.ironOre {
    content: url('icons/ironOre.png');
}

.meat {
    content: url('icons/meat.png');
}

.methane {
    content: url('icons/methane.png');
}

.microchip {
    content: url('icons/microchip.png');
}

.motor {
    content: url('icons/motor.png');
}

.nanoTubes {
    content: url('icons/nanoTubes.png');
}

.neuralProcessor {
    content: url('icons/neuralProcessor.png');
}

.organicWaste {
    content: url('icons/organicWaste.png');
}

.oxygen {
    content: url('icons/oxygen.png');
}

.parkPoints {
    content: url('icons/parkPoints.png');
}

.power {
    content: url('icons/power.png');
}

.radiationCore {
    content: url('icons/radiationCore.png');
}

.research {
    content: url('icons/research.png');
}

.sand {
    content: url('icons/sand.png');
}

.schoolPoints {
    content: url('icons/schoolPoints.png');
}

.sciencePack1 {
    content: url('icons/sciencePack1.png');
}

.sciencePack1Factory {
    content: url('icons/sciencePack1Factory.png');
}

.sciencePack2 {
    content: url('icons/sciencePack2.png');
}

.sciencePack2Factory {
    content: url('icons/sciencePack2Factory.png');
}

.sciencePack3 {
    content: url('icons/sciencePack3.png');
}

.sciencePack3Factory {
    content: url('icons/sciencePack3Factory.png');
}

.sciencePack4 {
    content: url('icons/sciencePack4.png');
}

.sciencePack4Factory {
    content: url('icons/sciencePack4Factory.png');
}

.spaceShip {
    content: url('icons/spaceShip.png');
}

.spaceshipModule {
    content: url('icons/spaceshipModule.png');
}

.steel {
    content: url('icons/steel.png');
}

.sulfur {
    content: url('icons/sulfur.png');
}

.storehouse {
    content: url('icons/storehouse.png');
}

.survivalFood {
    content: url('icons/survivalFood.png');
}

.uranium {
    content: url('icons/uranium.png');
}

.vegetables {
    content: url('icons/vegetables.png');
}

.vrEdutainment {
    content: url('icons/vrEdutainment.png');
}

.water {
    content: url('icons/water.png');
}

