<div  class="p-2" *ngIf="totals != null">
    <div class="hover-button p-2 rounded bg-primary text-white" (click)="toggleVisibility()">Total Required Resources:</div>

    <div *ngIf="visible" class="list-container">
        <ul class="d-flex flex-wrap">
            <li *ngFor="let material of buildMaterials"  class="d-flex list-item justify-content-between p-1">
                <div>{{material | formatName}}:</div>
                <div>{{getBuildMaterialCost(material) | number: '1.0-1'}}</div>
            </li>
            
            <li class="d-flex list-item justify-content-between p-1">
                <div>Power:</div>
                <div>{{totalPower | number: '1.0-1'}}</div>
            </li>
            
            <li class="d-flex list-item justify-content-between p-1">
                <div>Workers:</div>
                <div>{{totalWorkers | number: '1.0-1'}}</div>
            </li>
        </ul>

        <ul class="d-flex flex-wrap">
            <li *ngFor="let factory of factories" class="d-flex list-item justify-content-between p-1">
                <div>{{factory.name | formatName}}:</div>
                <div>{{getFactoryCount(factory)}}</div>
            </li>
        </ul>
    </div>
</div>
