<div *ngIf="totals != null">
    <div>Total Required Resources:</div>

    <div class="d-flex">
        <div class="px-3">
            <table>
                <tr *ngFor="let factory of factories">
                    <td class="pe-3">{{factory.name}}:</td>
                    <td>{{getFactoryCount(factory)}}</td>
                </tr>
            </table>
        </div>

        <div class="px-3">
            <table>
                <tr *ngFor="let material of buildMaterials">
                    <td class="pe-3">{{material}}:</td>
                    <td>{{getBuildMaterialCost(material)}}</td>
                </tr>
                
                <tr>
                    <td class="pe-3">Power:</td>
                    <td>{{totalPower}}</td>
                </tr>
                
                <tr>
                    <td class="pe-3">Workers:</td>
                    <td>{{totalWorkers}}</td>
                </tr>
            </table>
        </div>

    </div>

</div>
