/* You can add global styles to this file, and also import other style files */

@import "bootstrap/scss/bootstrap";


html, body {
    height: 100%;
}

.collapsible {
    min-height: 0px;
}

.hover-button:hover{
    button {
        visibility: visible;
    }
}

.hover-button{
    cursor: pointer;
    button {
        visibility: hidden;
    }
}