/* You can add global styles to this file, and also import other style files */

@import "bootstrap/scss/bootstrap";

@import "assets/material-icons";

html, body {
    height: 100%;
}

.collapsible {
    min-height: 0px;
}

.hover-button:hover{
    button {
        visibility: visible;
    }
}

.hover-button{
    cursor: pointer;
    button {
        visibility: hidden;
    }
}

.material-icon {
    width: 20px;
    height: 20px;
    margin: 0.25rem;
}

.material-icon-lrg {
    width: 30px;
    height: 30px;
    margin: 0.25rem;
}

.banner-one {
    background-color: rgba($primary, 1);
}

.banner-two {
    background-color: rgba($secondary, 0.9);
}

.banner-three {
    background-color: rgba($primary, 0.8);
}

.banner-four {
    background-color: rgba($secondary, 0.7);
}

.banner-five {
    background-color: rgba($primary, 0.6);
}

.banner-six {
    background-color: rgba($secondary, 0.5);
}
