<div class="m-1" [ngClass]="{'border': visible, 'rounded': visible}">

    <h4 
        class="rounded-top text-white p-2 hover-button d-flex align-items-center" 
        [ngClass]="headerClasses" 
        (click)="toggleVisibility()">
        <i class="material-icon-lrg" [ngClass]="model.material | iconClass"></i>
        <span>{{model.material}}</span>
    </h4>

    <div *ngIf="visible" class="p-2">
        <div class="d-flex align-items-center">

            <div class="px-1">{{model.productionRate | number: '1.0-2'}}/min from</div>
        
            <div *ngIf="model.depth === 0" class="px-1 d-inline" style="max-width: 5rem;">
                <input type="number" class="form-control" [value]="model.factoryCount" min="1" (change)="updateFactoryCount($event)">
            </div>
    
            <div class="px-1" *ngIf="model.depth !== 0">{{model.factoryCount}}</div>
        
            <div *ngIf="model.materialFactories.length === 1" class="px-1">{{model.selectedFactory.name}}</div>
        
            <div ngbDropdown *ngIf="model.materialFactories.length > 1" class="px-1">
                
                <button type="button" class="btn btn-outline-primary" id="selectionDropdown"
                    ngbDropdownToggle>{{model.selectedFactory.name}}</button>
                <div ngbDropdownMenu aria-labelledby="selectionDropdown" class="material-drop-down">
                    <button ngbDropdownItem *ngFor="let factory of model.materialFactories"
                        (click)="model.selectedFactory = factory">{{factory.name}}</button>
                </div>
            </div>

            <span class="px-1" *ngIf="requiredRate != null">(required: {{requiredRate| number: '1.0-2'}}/min)</span>
        
        </div>
    
        <div class="ps-2" *ngIf="model.children.length > 0">
        
            <material-production *ngFor="let component of model.children" [model]="component" ></material-production>
     
        </div>
    </div>
</div>
